<div class="container">
    <div class="title">
        <span>My Website</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> Welcome to
        </span><br>
        <span>My Portfolio Website </span>
        <span>This Website Is For My Internship Project </span>
    </div>

    <div class="profile">
        <img src="assets/Profile PNG.png" alt="Avatar">
        <div class="overlay">
            <div class="text">
                <h4>I am Engincan Gündüz</h4>
                <h5>Software Engineer</h5>
            </div>
        </div>
    </div>
</div>