:root{
    --green: #eff6e0;
    --green-light: #aec3b0;
    --gray-light: #598392;
    --dark-gray: #124559;
    --black: #01161e;
}
/* https://coolors.co/palette/01161e-124559-598392-aec3b0-eff6e0 */

*{
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', 'sans-serif';
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    outline: 0px solid white;
}

h1 {
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 1px;
    color: var(--green);
    outline: 1px solid white;
    font-family: 'Oswald', 'sans-serif';
}